<a href="https://colab.research.google.com/github/Aalanialani/qiskit-textbook/blob/main/Qiskit_Textbook_Chapter_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install git+https://github.com/qiskit-community/qiskit-textbook.git#subdirectory=qiskit-textbook-src

In [3]:
import qiskit.tools.jupyter
%qiskit_version_table

In [4]:
1+1

2

In [6]:
a_list = [ 42, 0.5, True, [0,1], None, 'Banana' ]

In [7]:
an_integer = 42 # Just an integer
a_float = 0.1 # A non-integer number, up to a fixed precision
a_boolean = True # A value that can be True or False
a_string = '''just enclose text between two 's, or two "s, or do what we did for this string''' # Text
none_of_the_above = None # The absence of any actual value or variable type

In [8]:
a_list = [0,1,2,3]

In [9]:
a_list = [ 42, 0.5, True, [0,1], None, 'Banana' ]

In [10]:
a_list[0]

42

In [11]:
a_tuple = ( 42, 0.5, True, [0,1], None, 'Banana' )
a_tuple[0]

42

In [12]:
a_list[5] = 'apple'

print(a_list)

[42, 0.5, True, [0, 1], None, 'apple']

In [13]:
a_tuple[5] = 'apple'

TypeError: ignored

In [14]:
a_list.append( 3.14 )

print(a_list)

[42, 0.5, True, [0, 1], None, 'apple', 3.14]

In [15]:
a_dict = { 1:'This is the value, for the key 1', 'This is the key for a value 1':1, False:':)', (0,1):256 }

In [16]:
a_dict['This is the key for a value 1']

1

In [17]:
a_dict['new key'] = 'new_value'

In [18]:
for j in range(5):
    print(j)

0
1
2
3
4

In [19]:
for j in a_list:
    print(j)

42
0.5
True
[0, 1]
None
apple
3.14

In [20]:
for key in a_dict:
    value = a_dict[key]
    print('key =',key)
    print('value =',value)
    print()

key = 1
value = This is the value, for the key 1

key = This is the key for a value 1
value = 1

key = False
value = :)

key = (0, 1)
value = 256

key = new key
value = new_value

In [21]:
if 'strawberry' in a_list:
    print('We have a strawberry!')
elif a_list[5]=='apple':
    print('We have an apple!')
else:
    print('Not much fruit here!')

We have an apple!

In [22]:
import numpy

In [23]:
numpy.sin( numpy.pi/2 )

1.0

In [24]:
import numpy as np

np.sin( np.pi/2 )

1.0

In [25]:
from numpy import *

In [26]:
sin( pi/2 )

1.0

In [27]:
def do_some_maths ( Input1, Input2 ):
    the_answer = Input1 + Input2
    return the_answer

In [28]:
x = do_some_maths(1,72)
print(x)

73

In [29]:
def add_sausages ( input_list ):
    if 'sausages' not in input_list:
        input_list.append('sausages')

In [30]:
print('List before the function')
print(a_list)

add_sausages(a_list) # function called without an output

print('\nList after the function')
print(a_list)

List before the function
[42, 0.5, True, [0, 1], None, 'apple', 3.14]

List after the function
[42, 0.5, True, [0, 1], None, 'apple', 3.14, 'sausages']

In [31]:
import random

In [33]:
for j in range(5):
    print('* Results from sample',j+1)
    print('\n    Random number from 0 to 1:', random.random() )
    print("\n    Random choice from our list:", random.choice( a_list ) )
    print('\n')

* Results from sample 1

    Random number from 0 to 1: 0.5215107211070711

    Random choice from our list: sausages


* Results from sample 2

    Random number from 0 to 1: 0.291008137112975

    Random choice from our list: sausages


* Results from sample 3

    Random number from 0 to 1: 0.7852457045817461

    Random choice from our list: 0.5


* Results from sample 4

    Random number from 0 to 1: 0.9032575683130697

    Random choice from our list: 0.5


* Results from sample 5

    Random number from 0 to 1: 0.2645683773886177

    Random choice from our list: sausages